a:hover {
    text-decoration: underline;
}

article > a {
    font-size: 20px;
}

article > h3 {
    margin-top: 4rem;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 34px;
    margin: 0 auto;
    max-width: 800px;
    padding: 0 0 3rem 0;
    overflow: auto;
    width: 100%;
}

figcaption {
    color: rgb(118, 117, 117, 1);
    font-size: 18px;
    text-align: center;
}

figure > img {
    width: 100%;
}

header {
    margin: 0 auto;
    text-align: center;
}

header > h1 {
    margin: 0;
}

h1, h2, h3, h4, footer, small{
    font-family: 'valkyrie_c4', sans-serif;
}

h1 {
    font-size: 50px;
    margin: 4rem 0 0;
}

h1 > a:visited {
    color: black;
    text-decoration: none;
}

h2 {
    font-size: 40px;
    margin: 4rem 0 0;
}

h3 {
    font-size: 30px;
    margin-top: 3rem;
}

html {
    margin: 4rem 0 0;
}

li {
    list-style: none;
}

nav > a {
    color: #767676;
    font-family: 'Georgia', serif;
    font-size: 17px;
    padding: 0 10px;
    text-decoration: none;
}

nav > a:hover {
    text-decoration: underline;
}

nav > a:visited {
    color: #767676;
}

p {
    color: black;
    font-family: 'Georgia', sans-serif;
    font-size: 20px;
}

p.description {
    letter-spacing: 0.7px;
}

p.tldr-block {
    font-size: 24px;
    font-style: italic;
    padding: 20px 0;
    text-align: center;
}

section {
    padding: 0 20px;
}

small {
    color: #666;
    font-size: 16px;
}

span.copy-url {
    font-family: 'Georgia', sans-serif;'
    font-size: 26px;
}

.line-through {
    text-decoration: line-through;
}
