a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: black;
    text-decoration: none;
}

article > h3 {
    margin-top: 4rem;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 30px;
    margin: 0 auto;
    max-width: 50rem;
    padding: 0 20px;
}

header {
    text-align: center;
}



h1, h2, h3, h4 {
    font-family: 'valkyrie_c4', sans-serif;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
    margin-top: 4rem;
}

h3 {
    font-size: 30px;
    margin-top: 3rem;
}

nav > a {
    color: #767676;
    font-family: 'Georgia', serif;
    font-size: 17px;
    padding: 0 10px;
    text-decoration: none;
}

nav > a:hover {
    text-decoration: underline;
}

nav > a:visited {
    color: #767676;
}

p {
    color: black;
    font-family: 'Georgia', sans-serif;
    font-size: 20px;
}

.blog-title {
    padding-top: 1rem;
}
