{{define "title"}}Computerized Incremental Learning | Tyler Boright{{end}}
{{define "body"}}
<section>
    <h2>Being Useful</h2>
    <small>2020-06-26</small>
    <p>I used to work myself to death.  Not resting, I would try to complete as many tasks as possible each day.  Organized todo lists, itemized jira boards, and productivity hacks littered my second monitor as I did my best to cram as much work into each day as I could.  By the end of the day, I felt exhausted. I thought this was a sign I had a productive day.</p>
    <p>Much to my surprise, even though I felt like I was killing myself, I was passed over for promotion a couple of times.  When asking my manager for feedback, I was told I did a good job and didn't have much to pick at.  I felt like I was a top performer.  I mean, hell, I was busting my ass every day to do as much work as possible.  Even so, I saw others around me promoted on a faster time line and with more benefits.</p>
    <p>I didn't know it at the time, but there was a deeper issue with my work performance I hadn't grokked yet.</p>
</section>
{{end}}
