{{define "title"}}Brain-directed Learning | Tyler Boright{{end}}
{{define "body"}}
<section>
    <h3>Brain-directed Learning</h3>
    <note>Talk about the knowledge-valuation network</note>
    <note>Talk about my failed undertale clone in the js game framework</note>
    <note>Talk about my "failed" text adventure in rust</note>
    <note>Talk about my "failed/deprecated" npm module</note>
    <note>Talk about the applicability of all these things</note>
    <note>Quote Paul Graham of early ideas and how valuable they are</note>
</section>
{{end}}
