{{define "title"}}Which Framework Do I Choose? | Tyler Boright{{end}}
{{define "body"}}
<section>
    <h3>Which Framework Do I Choose?</h3>
    <note>Talk about angularjs and learning that back in the day</note>
    <note>Talk about React and its dominance</note>
    <note>Talk about Writing Golang and not using a framework</note>
    <note>Talk about writing applications in the native language to learn the truth</note>
    <note>Talk about depth over breadth as a framework rule of thumb.</note>
    <note>Talk about working applications over frameworks</note>
    <note>Give a worst-case scenario: you are an angularjs master who is about to lose support. </note>
    <note>Talk about how even if you are in this situation, you can migrate your framework to a new framework and become an expert in that.</note>
</section>
{{end}}
