{{define "title"}}Contact | Tyler Boright{{end}}
{{define "body"}}
<section>
    <h2>Contact</h2>
    <h3>Non-business related</h3>
    <p>I love getting to know new people.  Please email me at <a href="mailto:tyler@tylerboright.com">tyler@tylerboright.com</a> and introduce yourself.  There are two reasons for this:</p>
    <ul>
        <li>1. We can exchange life stories and bond through the internet.</li>
        <li>2. Through the process of connecting, we can build our network and introduce each other to people we should meet.</li>
    </ul>
    <p>I reply to <b>all</b> emails.</p>
    <h3>Business</h3>
    <p>I'm currently available for consulting and freelancing (there is a difference).</p> 
    <p>My expertise lies in full stack web development, front-end automation testing, cloud management, Javascript and Golang.  You can peruse a cultivated list of my projects <a href="/projects">here</a> and see everything I've done in the open <a href="https://github.com/tlboright">here</a>.  For business inquiries, please email me at <a href="mailto:business@tylerboright.com">business@tylerboright.com</a>.</p>
</section>
{{end}}
