{{define "title"}}Contact | Tyler Boright{{end}}
{{define "body"}}
<section>
    <h2>Contact</h2>
    <h3>Non-business related</h3>
    <p>Shoot me an email.  We can bond over old video games, the worst ways to write software, or just what's going on in your life. Email me at <a href="mailto:tyler@tylerboright.com">tyler@tylerboright.com</a> and introduce yourself.</p>
    <p>There are two reasons for this:</p>
    <ul>
        <li>
            <p>1. We can be cool modern bro/dettes and bond through the internet.</p>
        </li>
        <li>
            <p>2. We both increase our surfaces of knowledge by sharing and learning from each other.</p>
        </li>
    </ul>
    <p>I reply to <b>all</b> email in time.</p>
    <h3>Business</h3>
    <p>I can serve your business by not being a specialized freelance developer. I am not a one-trick or job pony, and am always looking for long-term clients to build solid products with.</p> 
    <p>I'm current not looking to be a manager, director, or some high-level position where I do not touch tech.  I will <b>become the most complete software engineer in the world.</b>  Or at least the most complete me in the world.</p>
    <p>My main expertise lies in full stack web development, cloud management, Javascript and Golang.</p>
    <p>You can peruse a cultivated list of my projects <a href="/projects">here</a> and see everything I've done in the open <a href="https://github.com/tlboright">here</a>.  For business inquiries, email me at <a href="mailto:business@tylerboright.com">business@tylerboright.com</a>.</p>
</section>
{{end}}
