{{define "title"}}Contact | Tyler Boright{{end}}
{{define "body"}}
<section>
    <h2>Contact</h2>
    <h3>Non-business related</h3>
    <p>Shoot me an email.  We can bond over old video games, the worst ways to write software, or just what's going on in your life. Email me at [my-first-name] at tylerboright.com and introduce yourself.</p>
    <p>There are two reasons for this:</p>
    <ul>
        <li>
            <p>1. We can be cool modern bro/dettes and bond through the internet.</p>
        </li>
        <li>
            <p>2. We both increase our surfaces of knowledge by sharing and learning from each other.</p>
        </li>
    </ul>
    <p>I reply to <b>all</b> email in time.</p>
    <h3>Business</h3>
    <p>The type of business I take on:</p>
    <ul>
        <li>
            <p>1. I help new tech companies and universities build end to end prototypes to test out business ideas with concrete goals.</p>
        </li>
        <li>
            <p>2. I help enterprise clients design automation systems to save developer and qa <a href="https://landing.google.com/sre/sre-book/chapters/eliminating-toil/#toil-defined">toil</a>.</p>
        </li>
        <li>
            <p>3. I help fledgling product teams make strategic decisions about front-end codebases that result in easier-to-maintain systems.</p>
        </li>
    </ul>
    <p>You can see a list of products I have built and clients I have helped <a href="/projects">here</a>.</p>
    <p>All open source work I have done is available <a href="https://github.com/tlboright">here</a>.</p>
    <p>For business inquiries, email me at [business] at tylerboright.com</a>.</p>
</section>
{{end}}
