{{define "title"}}Interviewing is about pleasing clients{{end}}
{{define "body"}}
    <h1>Interviewing is about pleasing clients</h1>
    <p>I recently interviewed for a wonderful startup company who has a founder with a good head on her shoulders.  She reached out to me by email, which is a welcome alternative to hastily posted linkedin messages.</p>
    <p>After the initial technical recruiter meet and greet, I was emailed a full-stack technical challenge to complete in a few days.  I used a their backend language, Python, which was new to me.</p>
    <p>I spent the next couple days building a full stack application with database, front-end, and backend integration.  I added a lot of documentation, comments, and solid build instructions modeled after one of my favorite open source heroes, <a href="https://github.com/sindresorhus">Sindre Sorhus</a>.  I wanted this prototype to be perfect, and I focused on a bunch of details to make it awesome.</p>
    <p>In the end, I misimplemented a part of the written requirements and didn't build a project the team was satisfied with.  It's crazy, because I even double checked my understanding of the problem, but I was more focused on making what I felt was perfect than I was on double and triple-confirming the spec. I didn't fulfill my client's basic needs. I didn't fulfill them with style.</p>
    <p>Interviewing is hard on both sides, and failing is part of it.  A month later, I stumbled upon a different data structure that I might have been able to use to create a better implementation. If only I knew that then...</p>
    <p>It still might not have worked out.</p>
    <p>Some of the best software we use today is written in a boring language and perfectly meets a client's needs.</p>
{{end}}
