{{define "title"}}Interviewing is about pleasing clients{{end}}
{{define "body"}}
    <h2>Interviewing is about pleasing clients</h2>
    <p>I recently interviewed for a wonderful company with a great founder.  She reached out by email, which is much better than hastily posted linkedin messages.</p>
    <p>After the initial meet and greet, I was emailed a technical challenge to complete.</p>
    <p>I spent the next couple days building a full stack application with database, front-end, and backend integration.  I added a lot of documentation, comments, and solid build instructions modeled after one of my favorite open source heroes, <a href="https://github.com/sindresorhus">Sindre Sorhus</a>.
    <p>I wanted this prototype to be perfect. I focused on a bunch of details, software decisions, and implementing my own data structure to make it awesome.</p>
    <p>In the end, I misimplemented a part of the written requirements and didn't build a project the team was satisfied with.  I even double checked my understanding of the problem before I started working. Once I was caught up in building out the tech, I became more focused on making what I felt was perfect than I was on building the application described. In the end, I built a well-documented application didn't fulfill my client's needs.</p>
    <p>Interviewing is hard on both sides of the table. Failing is part of it.  A month later, I stumbled upon a different data structure I might have been able to use to create a better implementation. If only I knew that then...</p>
    <p>It still might not have worked out.</p>
    <p>Some of the best software we use today is written in boring, messy code. Even so, it does a good job of fulfilling a client's needs.</p>
    <p>A <a href="https://github.com/tlboright/test-flask-app">link</a> to the application.</p>
{{end}}
