{{define "title"}}Finding a Client | Tyler Boright{{end}}
{{define "body"}}
<section>
    <h2>Finding a Client</h2>
    <small>2020-07-01</small>
    <p>My first client came through a friend.  I had met a guy who started his own business in Taiwan and wanted to hire a software engineer.</p>
    <p>After interviewing for the job, it was determined I didn't quite have enough experience to fill the position.  We became friends instead.</p>
    <p>Through the next year and a half, he introduced me to a lot of people.  Job interviews, social events, and a freelancing gig followed.  He was a great friend.</p>
    <p>I didn't understand it at the time, but a lot of the tech business is done this way.  Meet people. Make friends. Dream ideas. Share them. Work together. Hopefully sell them. Meet other people.</p>
    <p>But I was still stuck in a more traditional mindset.  I didn't know how to keep in contact with friends.  I moved back to the US and dropped out of contact with him.</p>
    <h3>"Networking" as Making Friends</h3>
    <p>Recently, I find myself back in Taiwan.  I reconnected with some old friends. I also realized that as I have learned more, I have more to offer. On a whim, and after a thorough reconnecting, I reached out to one of my friends to ask if they had something they want to build.</p>
    <p></p>
</section>
{{end}}
