{{define "title"}}T L Boright{{end}}
{{define "body"}}
<section id="posts">
    <h2>Recent Posts</h2>
    <article>
        <h3>Why Automation Sucks (And How To Make it Better)</h3>
        <p>How to better utilize automated testing at work.</p>
        <a href="/howtoauto">Read more</a>
    </article>
    <article>
        <h3>You Won't Advance Through Coding</h3>
        <p>A new mental model for promotions.</p>
        <a href="/nocodepromotion">Read more</a>
    </article>
    <article>
        <h3>Interviewing is about pleasing clients</h3>
        <p>A short description of how to fail the interview process.</p>
        <a href="/failedinterview">Read more</a>
    </article>
    <article>
        <h3>Incremental Learning</h3>
        <p>A quick review of using Incremental Learning to learn many things.</p>
        <a href="/longlearn">Read more</a>
    </article>
</section>
{{end}}
