{{define "title"}}Tyler Boright{{end}}
{{define "body"}}
<section id="posts">
    <article>
        <h2>Test Header of Article</h2>
        <p>Redirect to Post 1</p>
        <a href="/post1">Read more</a>
    </article>
    <article>
        <h2>Test Header of Article2</h2>
        <p>Redirect to Post 2</p>
        <a href="/post2">Read more</a>
    </article>
    <article>
        <h2>Test Header of Article2</h2>
        <p>Redirect to Post 3</p>
        <a href="/post3">Read more</a>
    </article>
</section>
{{end}}
