{{define "title"}}Tyler Boright{{end}}
{{define "body"}}
<section id="posts">
    <h2>Recent Posts</h2>
    <article>
        <h3>Incremental Learning</h3>
        <p>A quick review of using Incremental Learning to learn many things.</p>
        <a href="/longlearn">Read more</a>
    </article>
    <article>
        <h3>Staying Productive with a Baby</h3>
        <p>Sharing my feelings of maintaining productivity with my daughter.</p>
        <a href="/pb">Read more</a>
    </article>
    <article>
        <h3>Using Games as Therapy</h3>
        <p>Quick article discussing how people use playing games as therapy and interaction.</p>
        <a href="/gat">Read more</a>
    </article>
    <article>
        <h3>The only choice that matters</h3>
        <p>A primer to starting</p>
        <a href="/choice"></a>
    </article>
</section>
{{end}}
