{{define "title"}}The Joy of Software{{end}}
{{define "body"}}
<h1>TODO:<h1>
        <p>Add info about easy running of binaries</p>
        <p>Talk about modern compiled languages (golang, rust) compared to traditionally compiled languages of the past (C...and C)</p>
        <p>Discuss why it is fun and easy to write in some of these languages today.</p>
        <p>Mention how SOME people (not yourself) underestimate Javascript and don't take the time to learn the benefits or patterns that can be applied to other languages (go over Promises, closures, etc)</p>
        <p>Talk about confidence in your own abilities and how learning some compiled languages lets you realize how easy it can really be.</p>
{{end}}
