{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/stylesheets/valkyrie-c4-font.css" />
        <link rel="stylesheet" href="/static/stylesheets/main.css" />
    </head>
    <body>
        <header>
            <h1><a href="/" title="Tyler Boright">Tyler Boright</a></h1>
            <p class="description">Building the internet one project at a time</p>
            <nav>
                <a href="/now">Now</a>
                <a href="/projects">Projects</a>
                <a href="mailto:tyler@tylerboright.com">Hire Me</a>
            </nav>
        </header>
        {{template "body"}}
    </body>
</html>
{{end}}
