{{define "title"}}Interviewing is about pleasing clients{{end}}
    <h2>So You want to Learn Another Language?</h2>
    <small>2021-08-28</small>
    <p>I heard you want to learn another language.</p>
    <p>Maybe you want to visit a foreign country.  Maybe you want to move to a foreign country.</p>
    <p>Maybe you want to meet new friends.  Maybe you are looking for a new direction in life.</p>
    <p>These are all sufficent reasons to learn another language.</p>
    <p>But ask yourself, do you really want to learn?</p>
    <p>Do you want to go through the same struggle as when you were young?  Do you want to understand nothing, only able to gather half-correct context clues from a native speaker's body language?</p>
    <p>Do you want to look down at a menu and not knowing what to eat?</p>
    <p>Do you want to look foolish as you walk into the wrong restroom or say something rude?</p>
    <p>Do you want to spend late nights puzzling through some text or television show you can barely understand?</p>
    <p>Learning a foreign language is like learning most new things.  You must enter a new, uncomfortable environment in order to grow.</p>
    <p>The environment may feel fun and fresh. At times it will certainly feel uncomfortable.</p>
    <p>Does any of that sound unpleasant to you?  Are you still with me?</p>
    <p>If so, then I will ask you more.</p>
    <p>How will you study?  How will you learn?</p>
    <p>Classes will not teach you.  Teachers can not do learn for you.</p>
    <p>Oh, they can give you an environment.  They can tell you stories and give lectures about grammatical structures that may only apply half the time.</p>
    <p>The best teachers may provide you with native materials and explanations as to why things are happening.  They will speak to you in their native language, your adopted language.</p>
    <p>They can push you to do work on the outside and try to motivate you to immerse yourself.</p>
    <p>Even the best teachers can't do the work for you.  Even the best classes can't learn for you.</p>
    <p>As they say in software, a computer science degree will not teach you to program.  Or its converse: You can learn to program without a computer science degree.</p>
    <p>For the actual skills, and the spoils, you will need to walk this path on your own.</p>
    <h3>Your Syllabus</h2>
    <p>Here is what will actually work.</p>
    <p>Listening to native audio.</p>
    <p>Reading native material.</p>
    <p>Watching bad reality television in your adopted language.</p>
    <p>Watching what you think is great television in your adopted language.</p>
    <p>Watching cartoons in your adopted language with only native subtitles.</p>
    <p>Reading comic books in your adopted language.</p>
    <p>Developing interests in your adopted language.</p>
    <p>Looking up words in the dictionary.</p>
    <p>Not looking up words in the dictionary and trying to guess their meanings by context clues.</p>
    <p>Struggling to remember a word and saying the wrong thing.  Feeling surprised as you effortlessly use a new word you heard 2 weeks ago and didn't realize you remembered.</p>
    <p>All of these things will build your proficiency when immersed in a large vat of time--an enormous vat, full of hours of ignorance and struggle.</p>
    <p>But then, suddenly, you will stumble upon things you understand.</p>
    <p>You will get a joke said on a tv show</p>
    <p>You will remember a reference to a story you read.</p>
    <p>You will be able to share a cultural reference to your group of friends who don't speak the language.</p>
    <p>You might even recognize your favorite food item on a foreign language menu.</p>
    <p>These small, incremental wins will build until you understand the foreign language most of the time.</p>
    <p>As you work on your pronunciation and speaking, you will spit out words in the correct pronunciation with the correct meanings.</p>
    <p>You will be understood.</p>
    <p>After another, smaller vat of time, you will be able to live in the language, attaining a level close to a native speaker.</p>
    <p>Then you will need to make a choice:</p>
    <p>Do I keep going on this track?</p>
    <p>Or do I move on to something else?</p>
{{define "body"}}
