{{define "title"}}Incremental Learning{{end}}
{{define "body"}}
<section>
    <h2>Incremental Learning</h2>
    <p>During my school years I forgot how to learn.  Whether it was due to my teachers or the system itself, I lost the ability to teach myself.</p>
    <p>Following this loss, my love for life also started to decrease.  A feeling of hopelessness crawled into the back of my head.  In high school, I spent many a plan-less Friday night grappling with a feeling of anxiety.  It felt like the whole world was passing me by.</p>
    <p></p>
</section>
