{{define "title"}}Incremental Learning{{end}}
{{define "body"}}
<section>
    <h2>Incremental Learning</h2>
    <p>During my school years I forgot how to learn.  Whether it was due to my teachers or the system itself, I lost the ability to teach myself.</p>
    <p>Each year I felt like I was on some kind of obsessive treadmill.  While school was in, I was always looking forward to the weekend or vacation.  When vacation happened, I would immerse myself with binge-like behaviors until I felt bored with them.  After feeling that boredom, I looked forward to having something to explore or learn.  I never found what it was.</p>
    <p>As my school years dragged on, I felt that something was wrong with me.  I felt like I wasn't smart enough or curious enough to succeed.</p>
    <p>Following this loss, my love for life also diminished.  A feeling of hopelessness crawled into the back of my head.  In high school, I spent many a plan-less Friday night grappling with a feeling of anxiety.  It felt like the whole world was passing me by and there was nothing I could do to stop it.  I couldn't figure out what to do.</p>
    <h3>A First Taste</h3>
</section>
{{end}}
