{{define "title"}}What I'm doing now.{{end}}
{{define "body"}}
<section>
    <h2>What I'm doing now</h2>
    <h3>A Long Break</h3>
    <p>At the beginning of February I took vacation to have my daughter.  It just so happened that around that time the virus started picking up in the US.  I am currently renting an apartment in Taiwan and planning to return to the US in December.</p>
    <h3>Daily Routine</h3>
    <p>I usually wake up around 12-1 and do some <a href="/incrementalReading">incremental reading</a>.  After anywhere from 15 minutes to an hour I finish and begin working on programming projects.</p>
    <p>Some of these projects have been open sourced and some are with friends.</p>
    <p>After 3-4 hours, I walk over to my wife's family's house and eat dinner.  After dinner I'll spend time with her family, workout, and just wind down with them for the day.  After my wife and daughter go to sleep, I usually either do some more incremental learning or work on programming projects.</p>
    <h3>Programming</h3>
    <p>I've recently been working on building a front-end application to a light-curve database to be used in astronomical calculations.  I've also been working on a no-frills egg timer electron app that lets you change the volume and sound-file used in the alarm.</p>
    <hr>
    <p>Updated June 3rd, 2020, from Taipei, Taiwan</p>
</section>
{{end}}
