{{define "title"}}What I'm doing now | Tyler Boright{{end}}
{{define "body"}}
<section>
    <article>
        <h2>What I'm doing now</h2>
        <h3>End of A Long Break</h3>
        <p>After not working full time for a year, I am working on projects for a couple of clients here in Taiwan and helping to advise a startup that is trying to improve access to open education.</p>
        <p>It's crazy, I didn't think about what a year of rest could entail.  It was awesome to reset, recharge, and do a lot of learning on topics I find interesting (mostly Japanese and CS).</p>
        <p>But it turns out learning is not enough.  Throughout this year, I have dug into vast learning pits and spent most of the time learning for myself.  I miss the creative aspect of putting things out into the world.</p>
        <p>I also miss the high of the feeling of productivity.</p>
        <h3>Finding Work</h3>
        <p>Currently I am working on paid work for clients and writing / doing some open source.</p>
        <p>Once we return to the States, I will be looking for something more permanent.  The goal is to find something remote where I can still spend time at home while working on interesting projects.</p>
        <p>It will be interesting to see how work will evolve post covid.  I've heard that many companies still want to require employees to return to the office, but this seems doomed to failure in light of the experiences we have all had during the past year.</p>
        <p>Here's to a future with less mandatory commute and more high-quality work!</p>
        <hr>
        <p>Updated September 21st, 2021, from Taipei, Taiwan</p>
    </article>
</section>
{{end}}
