{{define "title"}}What I'm doing now | Tyler Boright{{end}}
{{define "body"}}
<section>
    <article>
        <h2>What I'm doing now</h2>
        <h3>End of A Long Break</h3>
        <p>After not working for a year, I am now a part of a startup here in Taiwan trying to improve education.</p>
        <p>It's crazy, I didn't think about what a year of rest could entail.  It was awesome to reset, recharge, and do a lot of learning on topics I find interesting (mostly Japanese and CS).</p>
        <h3>Trying to Maintain Freedom</h3>
        <p>Although I am technically a founding member of this startup, I am seeking a better way to work</p>
        <p>I don't want the typical 9 - 5, go to the office because you have to and only work because you have to.  This is one of the rare times I'm working on something I feel passionate about.  Because of this, even tedius work tends to be enjoyable.</p>
        <h3>Sleep</h3>
        <p>I am really fortunate to have a wife and daughter who allow me to sleep well.</p>
        <p>This means there are no excuses for sleep deprivation.  Nowadays, nearly any time my sleep suffers it is my own fault.</p>
        <p>The importance of sleep is documented in <a href="https://supermemo.guru/wiki/Science_of_sleep">many</a> <a href="https://www.healthline.com/nutrition/10-reasons-why-good-sleep-is-important">places</a>.</p>
        <h3>Not Knowing What's Next</h3>
        <p>I'm not sure where we will be in the next year, and that is exciting.</p>
        <p>Instead of making long-term plans, I'm trying to work on things we believe in and setting down any expectations.</p>
        <p>We'll take things one meaningful day at a time, and I'll write about the experiences.</p>
        <hr>
        <p>Updated April 5th, 2021, from Taipei, Taiwan</p>
    </article>
</section>
{{end}}
