{{define "title"}}Projects | Tyler Boright{{end}}
{{define "body"}}
<section>
    <h2>Projects</h2>
    <article>
        <h3>Currently Unnamed Timer App</h3>
        <p>I enjoy using a modified pomodoro method to inform me when I should take a break.  I searched around for a bit and didn't find any cross-platform apps where I could choose the amount of time and add an audio clip that would play at the end of the timer.</p>
        <p>The application is built in electron and Typescript for static types.  I wrote a custom build-script and am working on packaging for the application.</p>
    </article>
    <article>
        <h3>Golang Interview</h3>
        <p>An ongoing project I use to implement and discuss my learning process of computer science algorithms and data structures. I have a non-traditional CS background, so this combined with incremental learning has enabled me to explore and learn different ways to efficiently solve problems.</p>
    </article>
</section>
{{end}}
