{{define "title"}}Simple Programming{{end}}
    <h2>Simple Programming</h2>
    <p>Start out your projects simply.  There is not a lot of use for complicated abstractions in a piece of software if you haven't solved the problem yet.</p>
    <p>When I first started developing software, I would often imagine the awesome function definitions I would make and how I would use sweet functional programming design patterns to make the perfect generalized abstraction.</p>
    <p>Being a code-wizard, I would make the best piece of software right away, speaking the runes of monads and IO as I waved my hands over the sweet scent of burning pixels.</p>
    <p>Write about the idea of waiting to add complexity until you are sure you need it</p>
    <p>talk about your bash script deployment system and how it works....for now</p>
{{end}}
