{{define "title"}} Making Choices in Uncertainty | Tyler Boright{{end}}
{{define "body"}}
<section>
    What does uncertainty mean
    What is uncertainty painful
    If you struggle between two choices, it means that the valuation of each one is similar
    Talk about the knowledge valuation network
    Talk about how our networks could be damaged, and listening "to our heart" and doing what we deeply desire can help us gain health
    Talk about how all great stories start with conflict / failure / hardship
    Talk about celebrating your uncertainty
</section>
{{end}}

