{{define "title"}}Productivity as Relaxation{{end}}
{{define "body"}}
<p>I have spent much of my adult life consuming media.</p>
<p>Whether it be through studying foreign language, watching youtube videos, or reading novels, much of my time has been spent read or listening to some outside source.</p>
<p>Bordering on addiction, this tendency to constantly feel the need to complete myself with outside sources has hamstringed my sense of personal fulfillment.</p>
<p>My struggle with consumption began as a numbing mechanism used to avoid feeling sorrow.  Now, having turned into a pathology, I try to take steps to fit this vestige addiction into a more productive slot of my everyday life.</p>
<h2>An End In Sight</h2>
<p>Learning to let go of perfectionism is a way to learn to relax into creation.</p>
<p>Whether it be software or fiction, writing to relax can come from a place completely different from writing to make money.  You create to clear your head--to work out ideas--and put words in either language down in record that bring in to existence something that previously did not exist.</p>
<p>In the goal-oriented quest for more points through the filter of dollars, creating for yourself is not always stressed.  Upon attending school, we lose creation through the filter of wonder and interaction we possessed as children, rather learning to count the world in terms of grades and test scores.</p>
<p>Returning to this sense of wonder is a matter of slow habit adjustment.  Something that can be done in small steps over time.</p>
<p>In these terms, you might only be at the beginning of your quest.  But it will grow easier with time.</p>
<p>Small steps in a direction leads to leaps of enjoyment.  But where do these small steps come from, and how can you even find a direction you want to move in?</p>
<p>Two principles will help you figure out in which direction you should move to create to relax: freedom and micro-rules.</p>
<h2>The Importance of Freedom</h2>
<p>Most modern day adults did not play enough as children.</p>
<p>After a period of youth typically before kindergarten, children are subject to increasingly strict schooling regiments.</p>
<p>These regiments take out the autonomy of youth and structure play and being outdoors into blocks of time after which kids are coerced into attending other activities they might not want to do at this time.</p>
<p>In communities and schools where structure is generally lax (like some daycares), having a bit of structure does not tend to harm the ability of children to pursue activities they find fun and meaningful.</p>
<p>However, most of the school systems we subject children to in modern day society are trending towards strict rigor, which hinders children's ability to pursue acitivies they find rewarding for long periods of time.</p>
<p>Why bring up children in an article focused on creating as a form of relaxation?  I do this because the majority of us have come from this system.</p>
<p>Insufficient time for self-directed play has hampered our ability to discover what it is we really find meaningful in life.</p>
<p>In order to counteract this, we need to create an environment in which our current self can grow and explore interests.</p>
<p>This environment will not differ much from the environment children should be given: tell yourself that you will pursue a creative interest with no goals, classes, or progress checkpoints and let yourself go.</p>
<h2>Jumping on and off course</h2>
<p>Depending on how damaged your self-control circuits are, creating a freely-creative environment might result in you pursuing some failed interests.</p>
<p>By failed I mean interests that you delve into a part of the way until you discover you don't find them meaningful long-term.</p>
<p>Sometimes we have some vestige interests or exciting endeavors that we really don't find meaningful long-term.  We buy items to pursue hobbies and research topics we ultimately end up abandoning in the end.</p>
<p>This is perfectly normal.  Trust yourself and be free to pursue whatever craft seems to motivate you with no goal in mind.  Even discovery work that seems like failure is a step in the right direction towards finding work that you can do to relax.</p>
<h2>Small Steps</h2>
<p>Regardless of your enjoyment, large changes in behavior tend to fail long-term.  Human being are highly adept at falling into patterns of behavior.  By structuring your environment around acquiring a creation-based hobby, you can take small steps that end up making large transitions in your life over time.</p>
<p>Removing the television from your living room, cutting off your internet at certain times during the day, and using software that automatically shuts down your processes after a certain time each day can help to create an environment which is more focused on creation over consumption.</p>
<p>{I have catalogued a list of desired habits and small changes you can take to move yourself in that habit's direction here to help you think of small changes you can make to your environment to learn the things you want.}</p>
<p>On youtube and social media the large changes gain the most attention.  But contrary to what the getting ripped in 30 day crowd would have you think, gradual changes persisted over time have the greatest effect on performance long-term.</p>
<h2>End Stage</h2>
<p>The end result of freeing yourself and cutting off consumption is a task or hobby that produces and fills your time.  In my own situation, these hobbies have manifested as "slow burn", isolated activities. Fixing my own computer problems, upgrading my laptop with new RAM / hard drives, and even building tables or other peripherals I need instead of buying them have taken up time blocks where I previously watched non-educational youtube.</p>
<p>The ultimate end stage is being able to sustain yourself monetarily off of your main meaning-producing hobby.  With enough freedom, optimism, and small actions in the right direction, we can all find meaning actiivies that are production-based and {efficacing}.</p>
{{end}}
